@import "tailwindcss";

:root {
  --background: #DDDDDD;
  --font-roboto: "Roboto", sans-serif;
}

@theme {
  --color-primary: #7695EC;
  --color-bg: #DDDDDD;
  --color-gray: #777777;
  --color-lightgray: #CCCCCC;
  --color-darkgray: #999999;
  --color-danger: #FF5151;
  --color-success: #47B960;
  --color-disabled: #B8B9BD;
}

body {
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
}

@layer utilities {
  .text-heading {
    @apply text-xl md:text-[22px] font-bold;
  }

  .text-label {
    @apply text-base font-medium;
  }

  .text-input {
    @apply text-sm font-medium text-gray focus:text-black;
  }

  .text-content {
    @apply text-base md:text-lg text-black;
  }

  .text-post-username {
    @apply text-base md:text-lg font-bold text-gray;
  }

  .text-post-datetime {
    @apply text-base md:text-lg text-gray;
  }

  .modal {
    @apply bg-white rounded-2xl border border-lightgray;
  }

  .input-field {
    @apply border border-gray rounded-lg px-2.5 py-1.5 w-full focus:outline-gray;
  }
}
